#post_content
	%h1= @post.title
	%p= @post.content

	#comments
		%h2
			= @post.comments.count
			= t('comments')
		= render @post.comments

		%h3 
		= render "comments/form"

	%br/
	%hr/
	%br/
	-if current_user.id == @post.user.id
		= link_to t('edit'), edit_post_path(@post), class: "button"
		= link_to t('delete'), post_path(@post), method: :delete, data: { confirm: t('are_you_sure') }, class: "button"
	