!!!
%html
%head
  %title Rails-powered Forum
  = csrf_meta_tags 
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' 
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 
%body
  %header.main_header.clearfix
    .wrapper 
      #logo
        %p 
        =t('rails_powered_forum')
      #buttons
        -if user_signed_in?
          =link_to t('new_post'), new_post_path
          =link_to t('home'), root_path
          =link_to t('edit_profile'), edit_user_registration_path
          %a{"data-method" => "delete", :href => "/users/sign_out", :rel => "nofollow"} 
            =t('sign_out')
        -else
          = link_to t('sign_up'), new_user_registration_path
          = link_to t('sign_in'), new_user_session_path
  .wrapper
    %p.notice= notice
    %p.alert= alert
  .wrapper
    = yield
